@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.MuiButtonBase-root {
  text-transform: none !important;
}

.MuiTab-root {
  text-transform: none !important;
}
